<a href="https://colab.research.google.com/github/lorysduez/ProjetP5/blob/main/NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Installation

In [ ]:
!pip install --upgrade pip

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pip in /usr/local/lib/python3.9/dist-packages (23.0.1)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [ ]:
!pip install tensorflow-gpu

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tensorflow-gpu
  Using cached tensorflow-gpu-2.12.0.tar.gz (2.6 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: python_version>"3.7" in /usr/local/lib/python3.9/dist-packages (from tensorflow-gpu) (0.0.2)
Building wheels for collected packages: tensorflow-gpu
  error: subprocess-exited-with-error

  × python setup.py bdist_wheel did not run successfully.
  │ exit code: 1
  ╰─> See above for output.

  note: This error originates from a subprocess, and is likely not a problem with pip.
  Building wheel for tensorflow-gpu (setup.py) ... error
  ERROR: Failed building wheel for tensorflow-gpu
  Running setup.py clean for tensorflow-gpu
Failed to build tensorflow-gpu
Installing collected packages: tensorflow-gpu
  error: subprocess-exited-with-error

  × Running setup.py install for tensorflow-gpu did not run successfully.
  │ exit code: 1
  ╰─> See above for output.

  note: This error originates from a subprocess, and is likely not a problem with pip.
  Running setup.py install for tensorflow-gpu ... error
error: legacy-install-failure

× Encountered error while trying to install package.
╰─> tensorflow-gpu

note: This is an issue with the package mentioned above, not pip.
hint: See above for output from the failure.

In [ ]:
!pip install transformers

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: transformers in /usr/local/lib/python3.9/dist-packages (4.26.1)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.9/dist-packages (from transformers) (2022.6.2)
Requirement already satisfied: tokenizers!=0.11.3,<0.14,>=0.11.1 in /usr/local/lib/python3.9/dist-packages (from transformers) (0.13.2)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.9/dist-packages (from transformers) (1.22.4)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.9/dist-packages (from transformers) (6.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from transformers) (23.0)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from transformers) (2.25.1)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.9/dist-packages (from transformers) (4.65.0)
Requirement already satisfied: huggingface-hub<1.0,>=0.11.0 in /usr/local/lib/python3.9/dist-packages (from transformers) (0.13.1)
Requirement already satisfied: filelock in /usr/local/lib/python3.9/dist-packages (from transformers) (3.9.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.9/dist-packages (from huggingface-hub<1.0,>=0.11.0->transformers) (4.5.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->transformers) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->transformers) (2022.12.7)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.9/dist-packages (from requests->transformers) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->transformers) (1.26.14)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [ ]:
!pip install transformers[sentencepiece]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: transformers[sentencepiece] in /usr/local/lib/python3.9/dist-packages (4.26.1)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.9/dist-packages (from transformers[sentencepiece]) (2022.6.2)
Requirement already satisfied: huggingface-hub<1.0,>=0.11.0 in /usr/local/lib/python3.9/dist-packages (from transformers[sentencepiece]) (0.13.1)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.9/dist-packages (from transformers[sentencepiece]) (4.65.0)
Requirement already satisfied: tokenizers!=0.11.3,<0.14,>=0.11.1 in /usr/local/lib/python3.9/dist-packages (from transformers[sentencepiece]) (0.13.2)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from transformers[sentencepiece]) (2.25.1)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.9/dist-packages (from transformers[sentencepiece]) (6.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from transformers[sentencepiece]) (23.0)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.9/dist-packages (from transformers[sentencepiece]) (1.22.4)
Requirement already satisfied: filelock in /usr/local/lib/python3.9/dist-packages (from transformers[sentencepiece]) (3.9.0)
Requirement already satisfied: protobuf<=3.20.2 in /usr/local/lib/python3.9/dist-packages (from transformers[sentencepiece]) (3.19.6)
Requirement already satisfied: sentencepiece!=0.1.92,>=0.1.91 in /usr/local/lib/python3.9/dist-packages (from transformers[sentencepiece]) (0.1.97)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.9/dist-packages (from huggingface-hub<1.0,>=0.11.0->transformers[sentencepiece]) (4.5.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->transformers[sentencepiece]) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.9/dist-packages (from requests->transformers[sentencepiece]) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->transformers[sentencepiece]) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->transformers[sentencepiece]) (1.26.14)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [ ]:
!pip install deep-translator

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: deep-translator in /usr/local/lib/python3.9/dist-packages (1.10.1)
Requirement already satisfied: beautifulsoup4<5.0.0,>=4.9.1 in /usr/local/lib/python3.9/dist-packages (from deep-translator) (4.11.2)
Requirement already satisfied: requests<3.0.0,>=2.23.0 in /usr/local/lib/python3.9/dist-packages (from deep-translator) (2.25.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/dist-packages (from beautifulsoup4<5.0.0,>=4.9.1->deep-translator) (2.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests<3.0.0,>=2.23.0->deep-translator) (1.26.14)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.9/dist-packages (from requests<3.0.0,>=2.23.0->deep-translator) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests<3.0.0,>=2.23.0->deep-translator) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests<3.0.0,>=2.23.0->deep-translator) (2.10)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [ ]:
!pip install happytransformer

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: happytransformer in /usr/local/lib/python3.9/dist-packages (2.4.1)
Requirement already satisfied: tqdm>=4.43 in /usr/local/lib/python3.9/dist-packages (from happytransformer) (4.65.0)
Requirement already satisfied: datasets>=1.6.0 in /usr/local/lib/python3.9/dist-packages (from happytransformer) (2.10.1)
Requirement already satisfied: protobuf in /usr/local/lib/python3.9/dist-packages (from happytransformer) (3.19.6)
Requirement already satisfied: transformers>=4.4.0 in /usr/local/lib/python3.9/dist-packages (from happytransformer) (4.26.1)
Requirement already satisfied: sentencepiece in /usr/local/lib/python3.9/dist-packages (from happytransformer) (0.1.97)
Requirement already satisfied: torch>=1.0 in /usr/local/lib/python3.9/dist-packages (from happytransformer) (1.13.1+cu116)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.9/dist-packages (from datasets>=1.6.0->happytransformer) (6.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (from datasets>=1.6.0->happytransformer) (1.3.5)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.9/dist-packages (from datasets>=1.6.0->happytransformer) (2.25.1)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.9/dist-packages (from datasets>=1.6.0->happytransformer) (3.8.4)
Requirement already satisfied: multiprocess in /usr/local/lib/python3.9/dist-packages (from datasets>=1.6.0->happytransformer) (0.70.14)
Requirement already satisfied: packaging in /usr/local/lib/python3.9/dist-packages (from datasets>=1.6.0->happytransformer) (23.0)
Requirement already satisfied: pyarrow>=6.0.0 in /usr/local/lib/python3.9/dist-packages (from datasets>=1.6.0->happytransformer) (9.0.0)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.9/dist-packages (from datasets>=1.6.0->happytransformer) (1.22.4)
Requirement already satisfied: dill<0.3.7,>=0.3.0 in /usr/local/lib/python3.9/dist-packages (from datasets>=1.6.0->happytransformer) (0.3.6)
Requirement already satisfied: responses<0.19 in /usr/local/lib/python3.9/dist-packages (from datasets>=1.6.0->happytransformer) (0.18.0)
Requirement already satisfied: huggingface-hub<1.0.0,>=0.2.0 in /usr/local/lib/python3.9/dist-packages (from datasets>=1.6.0->happytransformer) (0.13.1)
Requirement already satisfied: fsspec[http]>=2021.11.1 in /usr/local/lib/python3.9/dist-packages (from datasets>=1.6.0->happytransformer) (2023.3.0)
Requirement already satisfied: xxhash in /usr/local/lib/python3.9/dist-packages (from datasets>=1.6.0->happytransformer) (3.2.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.9/dist-packages (from torch>=1.0->happytransformer) (4.5.0)
Requirement already satisfied: tokenizers!=0.11.3,<0.14,>=0.11.1 in /usr/local/lib/python3.9/dist-packages (from transformers>=4.4.0->happytransformer) (0.13.2)
Requirement already satisfied: filelock in /usr/local/lib/python3.9/dist-packages (from transformers>=4.4.0->happytransformer) (3.9.0)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.9/dist-packages (from transformers>=4.4.0->happytransformer) (2022.6.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.9/dist-packages (from aiohttp->datasets>=1.6.0->happytransformer) (22.2.0)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in /usr/local/lib/python3.9/dist-packages (from aiohttp->datasets>=1.6.0->happytransformer) (3.1.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.9/dist-packages (from aiohttp->datasets>=1.6.0->happytransformer) (4.0.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.9/dist-packages (from aiohttp->datasets>=1.6.0->happytransformer) (1.3.3)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.9/dist-packages (from aiohttp->datasets>=1.6.0->happytransformer) (6.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.9/dist-packages (from aiohttp->datasets>=1.6.0->happytransformer) (1.8.2)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.9/dist-packages (from aiohttp->datasets>=1.6.0->happytransformer) (1.3.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests>=2.19.0->datasets>=1.6.0->happytransformer) (1.26.14)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.9/dist-packages (from requests>=2.19.0->datasets>=1.6.0->happytransformer) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.19.0->datasets>=1.6.0->happytransformer) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.19.0->datasets>=1.6.0->happytransformer) (2.10)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.9/dist-packages (from pandas->datasets>=1.6.0->happytransformer) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.9/dist-packages (from pandas->datasets>=1.6.0->happytransformer) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.7.3->pandas->datasets>=1.6.0->happytransformer) (1.15.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [ ]:
!pip install vaderSentiment

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: vaderSentiment in /usr/local/lib/python3.9/dist-packages (3.3.2)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from vaderSentiment) (2.25.1)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.9/dist-packages (from requests->vaderSentiment) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->vaderSentiment) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->vaderSentiment) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->vaderSentiment) (1.26.14)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [ ]:
!pip install textblob

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: textblob in /usr/local/lib/python3.9/dist-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.9/dist-packages (from textblob) (3.7)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.9/dist-packages (from nltk>=3.1->textblob) (2022.6.2)
Requirement already satisfied: click in /usr/local/lib/python3.9/dist-packages (from nltk>=3.1->textblob) (8.1.3)
Requirement already satisfied: joblib in /usr/local/lib/python3.9/dist-packages (from nltk>=3.1->textblob) (1.2.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.9/dist-packages (from nltk>=3.1->textblob) (4.65.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

# Importation

In [ ]:
import pandas as pd

from transformers import AutoTokenizer, TFAutoModelForSequenceClassification
from transformers import pipeline
import numpy as np

from deep_translator import GoogleTranslator, MyMemoryTranslator 
#There is a DeepL class but with limited requests
from happytransformer import HappyTextToText
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
from textblob import TextBlob
from transformers import BertTokenizer, BertForSequenceClassification
from transformers import pipeline

from datetime import datetime, date, timedelta

In [ ]:
dataset = pd.read_csv("dataset.csv", index_col = 0)

In [ ]:
dataset

,headlines,newsflashes,dates,links,company_name
0,Chine : bond de l'activité dans les services e...,"PEKIN, 3 mars (Reuters) - L'activité dans le s...",03/03/2023,https://investir.lesechos.fr/marches-indices/e...,airbus
1,Accident de Vega : le CNES demande des comptes...,L'enquête technique menée par l'Agence spatial...,03/03/2023,https://www.lesechos.fr/industrie-services/air...,airbus
2,"Avec un résultat d'exploitation ajusté de 1,51...",Lufthansa a enregistré des résultats en ligne ...,03/03/2023,https://www.latribune.fr/entreprises-finance/s...,airbus
3,Les 5 infos business à retenir ce vendredi mat...,La Tribune a sélectionné pour vous les cinq pr...,03/03/2023,https://www.latribune.fr/economie/les-5-infos-...,airbus
4,L'Etat au chevet de l'industrie agroalimentair...,Le gouvernement va présenter ce vendredi un pl...,03/03/2023,https://www.latribune.fr/entreprises-finance/i...,airbus
...,...,...,...,...,...
2854,LVMH révise encore ses ambitions à la baisse,Six ans après être entré dans le capital de LV...,21/01/1994,https://www.lesechos.fr/1994/01/arnault-renfor...,lvmh
2855,L'engouement pour LVMH n'est plus aussi massif,"Le numéro un du luxe, le groupe LVMH, vient de...",29/11/1993,https://www.lesechos.fr/1993/11/lvmh-rachete-i...,lvmh
2856,"Les profits de LVMH ont reculé de 19,5 % en 1992",Le numéro un mondial du luxe annonce un bénéfi...,13/01/1993,https://www.lesechos.fr/1993/01/les-profits-de...,lvmh
2857,Luxe: LVMH sans les Vuitton,Bernard Arnault face à Henry Racamier. Le face...,26/11/1991,https://www.lesechos.fr/1991/11/luxe-lvmh-sans...,lvmh
2858,LVMH: les Vuitton se désengagent,VIG a vendu à la banque américaine Goldman Sac...,25/03/1991,https://www.lesechos.fr/1991/03/lvmh-les-vuitt...,lvmh

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2859 entries, 0 to 2858
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   headlines     2859 non-null   object
 1   newsflashes   2760 non-null   object
 2   dates         2859 non-null   object
 3   links         2859 non-null   object
 4   company_name  2859 non-null   object
dtypes: object(5)
memory usage: 134.0+ KB

In [ ]:
for i in range (len(dataset["newsflashes"])):
  if str(dataset["newsflashes"][i]) == "nan":
    dataset["newsflashes"][i] = dataset["headlines"][i]

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2859 entries, 0 to 2858
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   headlines     2859 non-null   object
 1   newsflashes   2859 non-null   object
 2   dates         2859 non-null   object
 3   links         2859 non-null   object
 4   company_name  2859 non-null   object
dtypes: object(5)
memory usage: 198.6+ KB

# French sentiment analysis
(https://github.com/TheophileBlard/french-sentiment-analysis-with-bert)

In [ ]:
tokenizer = AutoTokenizer.from_pretrained("tblard/tf-allocine")
model = TFAutoModelForSequenceClassification.from_pretrained("tblard/tf-allocine")

nlp = pipeline('sentiment-analysis', model=model, tokenizer=tokenizer)

All model checkpoint layers were used when initializing TFCamembertForSequenceClassification.

All the layers of TFCamembertForSequenceClassification were initialized from the model checkpoint at tblard/tf-allocine.
If your task is similar to the task the model of the checkpoint was trained on, you can already use TFCamembertForSequenceClassification for predictions without further training.

In [ ]:
headlines = dataset["headlines"]
newsflashes = dataset["newsflashes"]

In [ ]:
headlines.head()

0    Chine : bond de l'activité dans les services e...
1    Accident de Vega : le CNES demande des comptes...
2    Avec un résultat d'exploitation ajusté de 1,51...
3    Les 5 infos business à retenir ce vendredi mat...
4    L'Etat au chevet de l'industrie agroalimentair...
Name: headlines, dtype: object

In [ ]:
newsflashes.head()

0    PEKIN, 3 mars (Reuters) - L'activité dans le s...
1    L'enquête technique menée par l'Agence spatial...
2    Lufthansa a enregistré des résultats en ligne ...
3    La Tribune a sélectionné pour vous les cinq pr...
4    Le gouvernement va présenter ce vendredi un pl...
Name: newsflashes, dtype: object

In [ ]:
def fr_sentiment_analysis(column, n = None):
  sentiments = []
  if n == None:
    for col in column:
      sentiment = nlp(col[:513])
      #print(col, sentiment)
      if sentiment[0]["label"] == "POSITIVE":
        sentiments.append(np.float64(1))
      elif sentiment[0]["label"] == "NEGATIVE":
        sentiments.append(np.float64(-1))
  else:
    for col in column[:n]:
      sentiment = nlp(col[:513])
      #print(col, sentiment)
      if sentiment[0]["label"] == "POSITIVE":
        sentiments.append(np.float64(1))
      elif sentiment[0]["label"] == "NEGATIVE":
        sentiments.append(np.float64(-1))
  return sentiments

In [ ]:
fr_sentiment_analysis(headlines, 10)

[1.0, 1.0, -1.0, 1.0, -1.0, 1.0, -1.0, 1.0, -1.0, 1.0]

The French sentiment analysis does some mistakes. For example, it judges the following statement: 'Avec un résultat d'exploitation ajusté de 1,51 milliard d'euro en 2022, "Lufthansa est de retour"' as "NEGATIVE", whereas it's positive.
In general, those sentiment analyses got low scores. There might be explained by two reasons: 
- The model was not not trained on financial news.
- There is not enough text.

In [ ]:
fr_sentiment_analysis(newsflashes, 10)

[1.0, -1.0, 1.0, 1.0, 1.0, 1.0, -1.0, 1.0, 1.0, 1.0]

The previous statement has been judged correctly even if some mistakes remain. For example, both of the headline and newsflash related to the sea progress is regarded as "POSITIVE" while it is definitely negative.
Compared to the headlines and although some remain low, scores are quite better. As thought previously, that might be because of more text.

In [ ]:
headlines_sentiments = fr_sentiment_analysis(headlines, 10)
newsflashes_sentiments = fr_sentiment_analysis(newsflashes, 10)

for i in range (len(headlines_sentiments)):
  if headlines_sentiments[i] != newsflashes_sentiments[i]:
    print(headlines[i], headlines_sentiments[i])
    print(newsflashes[i], newsflashes_sentiments[i])
    print("\n")

Accident de Vega : le CNES demande des comptes à l'agence spatiale européenne  1.0
L'enquête technique menée par l'Agence spatiale européenne à propos de l'accident de la fusée italienne Vega C ne satisfait pas l'agence spatiale française. Elle demande une révision profonde du management des projets à l'ESA. En France, les acteurs industriels et institutionnels souhaitent profiter la crise spatiale européenne pour reposer les bases d'une saine coopération. -1.0


Avec un résultat d'exploitation ajusté de 1,51 milliard d'euro en 2022, « Lufthansa est de retour » -1.0
Lufthansa a enregistré des résultats en ligne avec les attentes. Son bénéfice net est ressorti à 791 millions d'euros l'an dernier, contre une perte de 2,19 milliards d'euros un an plus tôt. Quant au résultat net, il est sensiblement identique aux 728 millions affichés par le concurrent Air France-KLM. « Lufthansa est de retour », avec un « redressement financier sans précédent » opéré en un an, s'est félicité Carsten Spohr, PDG de l'entreprise. 1.0


L'Etat au chevet de l'industrie agroalimentaire avec un plan de soutien de 500 millions d'euros -1.0
Le gouvernement va présenter ce vendredi un plan de soutien à l'industrie agroalimentaire, avec des mesures d'urgence pour aider les entreprises à supporter la flambée de leurs coûts de production et des financements pour accélérer leur modernisation. Les ministres de l'Industrie et de l'Agriculture, Roland Lescure et Marc Fesneau, en préciseront les contours au Salon de l'agriculture. Le tout sur fond de négociations tendues entre la grande distribution et les industriels. 1.0


Pourquoi Airbus en pince vraiment pour Evidian -1.0
Evidian, c'est carrément évident pour Airbus sur le plan stratégique. A condition de conclure un accord stratégique qui permette à l'avenir aux deux groupes de présenter des offres conjointes sur l'ensemble du périmètre d'Evidian et de partager des synergies de développements et d’infrastructures. 1.0

The sentiment analysis based on newsflahses works better, as illustrated by both scores.

The main negative point of that French sentiment analysis is that it is either "POSITIVE" or "NEGATIVE".

# English sentiment analysis

In [ ]:
def translation(model, column):
  L = []
  for col in column[:10]:
    if model == "google":
      translated = GoogleTranslator(source='fr', target='en').translate(col)
      L.append(translated)
      #print(translated)
    elif model == "mymemory":
      translated = MyMemoryTranslator(source="fr", target="en").translate(text=col)
      L.append(translated)
      #print(translated)
    elif model == "happy":
      happy_tt = HappyTextToText("MARIAN", "Helsinki-NLP/opus-mt-fr-en")
      translated = happy_tt.generate_text(col).text
      L.append(translated)
      #print(translated)
  return L

In [ ]:
translation("google", headlines)

['China: jump in activity in services in February, according to Caixin',
 'Vega accident: CNES demands accountability from the European Space Agency',
 'With an adjusted operating profit of 1.51 billion euros in 2022, “Lufthansa is back”',
 'The 5 business news to remember this Friday morning (Lufthansa, nuclear, Vega-C, agri-food, TikTok)',
 'The State at the bedside of the agri-food industry with a support plan of 500 million euros',
 'In Normandy, the advance of the sea places the municipalities at the foot of the wall',
 'For Elisabeth Borne, the relaunch of nuclear power must secure "electricity supply needs"',
 'In the United States, TikTok will soon be as watched every day as Netflix',
 'Why Airbus really has a crush on Evidian',
 'Apple invests an additional billion euros in Munich']

In [ ]:
translation("mymemory", headlines)

['China: services activity surges in February, according to Caixin',
 'Vega accident: CNES calls the European Space Agency to account',
 'With adjusted operating income of €1.51 billion in 2022, “Lufthansa is back”',
 'The 5 business infos to remember this Friday morning (Lufthansa, nuclear, Vega-C, agribusiness, TikTok)',
 'The State at the bedside of the agri-food industry with a support plan of 500 million euros',
 'In Normandy, the advance  of the sea places the communes at the foot of the wall',
 'For Elisabeth Borne, the relaunch of nuclear power must secure “the needs of electricity supply”',
 'In the US, TikTok will soon be as much watched every day as Netflix',
 'Why Airbus really likes Evidian',
 'Apple invests an additional €1 billion in Munich']

In [ ]:
translation("happy", headlines)

/usr/local/lib/python3.9/dist-packages/transformers/models/marian/tokenization_marian.py:194: UserWarning: Recommended: pip install sacremoses.
  warnings.warn("Recommended: pip install sacremoses.")

['China: services activity jumped in February, according to Caixin',
 'Vega accident: CNES asks European Space Agency for accounts',
 'With an adjusted operating result of 1,51 billion euros in 2022, "Lufthansa is back"',
 'The 5 business info to remember this Friday morning (Lufthansa, nuclear, Vega-C, agri-food, TikTok)',
 'The state at the bedside of the agri-food industry with a €500 million support plan',
 'In Normandy, the advance of the sea places the communes at the foot of the wall',
 'Elisabeth Borne says the reactivation of nuclear power must secure "power supply needs"',
 'In the United States, TikTok soon as watched every day as Netflix',
 'Why Airbus really pinch for Evidian?',
 'Apple invests an additional EUR 1 billion in Munich']

All the translations are quite similar.
Let's test each of them to see which one is the best.

https://huggingface.co/ahmedrachid/FinancialBERT-Sentiment-Analysis

In [ ]:
def en_sentiment_analysis(model, L):
  for elt in L:
    if model == "vader":
      sia = SentimentIntensityAnalyzer()
      result = sia.polarity_scores(elt)
      print(elt, result)
    elif model == "textblob":
      result = TextBlob(elt).sentiment.polarity
      print(elt, result)
    elif model == "finbert":
      m = BertForSequenceClassification.from_pretrained("ahmedrachid/FinancialBERT-Sentiment-Analysis",num_labels=3)
      tokenizer = BertTokenizer.from_pretrained("ahmedrachid/FinancialBERT-Sentiment-Analysis")
      nlp = pipeline("sentiment-analysis", model=m, tokenizer=tokenizer)
      print(elt, nlp(elt))

In [ ]:
google_translations = translation("google", headlines)
mymemory_translations = translation("mymemory", headlines)
happy_translations = translation("happy", headlines)

In [ ]:
en_sentiment_analysis("vader", google_translations)

China: jump in activity in services in February, according to Caixin {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
Vega accident: CNES demands accountability from the European Space Agency {'neg': 0.256, 'neu': 0.744, 'pos': 0.0, 'compound': -0.4767}
With an adjusted operating profit of 1.51 billion euros in 2022, “Lufthansa is back” {'neg': 0.0, 'neu': 0.818, 'pos': 0.182, 'compound': 0.4404}
The 5 business news to remember this Friday morning (Lufthansa, nuclear, Vega-C, agri-food, TikTok) {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
The State at the bedside of the agri-food industry with a support plan of 500 million euros {'neg': 0.0, 'neu': 0.856, 'pos': 0.144, 'compound': 0.4019}
In Normandy, the advance of the sea places the municipalities at the foot of the wall {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
For Elisabeth Borne, the relaunch of nuclear power must secure "electricity supply needs" {'neg': 0.0, 'neu': 0.833, 'pos': 0.167, 'compound': 0.34}
In the United States, TikTok will soon be as watched every day as Netflix {'neg': 0.0, 'neu': 0.823, 'pos': 0.177, 'compound': 0.4215}
Why Airbus really has a crush on Evidian {'neg': 0.21, 'neu': 0.79, 'pos': 0.0, 'compound': -0.2177}
Apple invests an additional billion euros in Munich {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}

In [ ]:
en_sentiment_analysis("vader", mymemory_translations)

China: services activity surges in February, according to Caixin {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
Vega accident: CNES calls the European Space Agency to account {'neg': 0.256, 'neu': 0.744, 'pos': 0.0, 'compound': -0.4767}
With adjusted operating income of €1.51 billion in 2022, “Lufthansa is back” {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
The 5 business infos to remember this Friday morning (Lufthansa, nuclear, Vega-C, agribusiness, TikTok) {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
The State at the bedside of the agri-food industry with a support plan of 500 million euros {'neg': 0.0, 'neu': 0.856, 'pos': 0.144, 'compound': 0.4019}
In Normandy, the advance  of the sea places the communes at the foot of the wall {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
For Elisabeth Borne, the relaunch of nuclear power must secure “the needs of electricity supply” {'neg': 0.0, 'neu': 0.854, 'pos': 0.146, 'compound': 0.34}
In the US, TikTok will soon be as much watched every day as Netflix {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
Why Airbus really likes Evidian {'neg': 0.0, 'neu': 0.564, 'pos': 0.436, 'compound': 0.4754}
Apple invests an additional €1 billion in Munich {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}

In [ ]:
en_sentiment_analysis("vader", happy_translations)

China: services activity jumped in February, according to Caixin {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
Vega accident: CNES asks European Space Agency for accounts {'neg': 0.279, 'neu': 0.721, 'pos': 0.0, 'compound': -0.4767}
With an adjusted operating result of 1,51 billion euros in 2022, "Lufthansa is back" {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
The 5 business info to remember this Friday morning (Lufthansa, nuclear, Vega-C, agri-food, TikTok) {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
The state at the bedside of the agri-food industry with a €500 million support plan {'neg': 0.0, 'neu': 0.838, 'pos': 0.162, 'compound': 0.4019}
In Normandy, the advance of the sea places the communes at the foot of the wall {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
Elisabeth Borne says the reactivation of nuclear power must secure "power supply needs" {'neg': 0.0, 'neu': 0.833, 'pos': 0.167, 'compound': 0.34}
In the United States, TikTok soon as watched every day as Netflix {'neg': 0.0, 'neu': 0.797, 'pos': 0.203, 'compound': 0.4215}
Why Airbus really pinch for Evidian? {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
Apple invests an additional EUR 1 billion in Munich {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}

In [ ]:
en_sentiment_analysis("textblob", google_translations)

China: jump in activity in services in February, according to Caixin 0.0
Vega accident: CNES demands accountability from the European Space Agency 0.0
With an adjusted operating profit of 1.51 billion euros in 2022, “Lufthansa is back” 0.0
The 5 business news to remember this Friday morning (Lufthansa, nuclear, Vega-C, agri-food, TikTok) 0.0
The State at the bedside of the agri-food industry with a support plan of 500 million euros 0.0
In Normandy, the advance of the sea places the municipalities at the foot of the wall 0.0
For Elisabeth Borne, the relaunch of nuclear power must secure "electricity supply needs" 0.4
In the United States, TikTok will soon be as watched every day as Netflix 0.0
Why Airbus really has a crush on Evidian 0.2
Apple invests an additional billion euros in Munich 0.0

In [ ]:
en_sentiment_analysis("textblob", mymemory_translations)

China: services activity surges in February, according to Caixin 0.0
Vega accident: CNES calls the European Space Agency to account 0.0
With adjusted operating income of €1.51 billion in 2022, “Lufthansa is back” 0.0
The 5 business infos to remember this Friday morning (Lufthansa, nuclear, Vega-C, agribusiness, TikTok) 0.0
The State at the bedside of the agri-food industry with a support plan of 500 million euros 0.0
In Normandy, the advance  of the sea places the communes at the foot of the wall 0.0
For Elisabeth Borne, the relaunch of nuclear power must secure “the needs of electricity supply” 0.4
In the US, TikTok will soon be as much watched every day as Netflix 0.2
Why Airbus really likes Evidian 0.2
Apple invests an additional €1 billion in Munich 0.0

In [ ]:
en_sentiment_analysis("textblob", happy_translations)

China: services activity jumped in February, according to Caixin 0.0
Vega accident: CNES asks European Space Agency for accounts 0.0
With an adjusted operating result of 1,51 billion euros in 2022, "Lufthansa is back" 0.0
The 5 business info to remember this Friday morning (Lufthansa, nuclear, Vega-C, agri-food, TikTok) 0.0
The state at the bedside of the agri-food industry with a €500 million support plan 0.0
In Normandy, the advance of the sea places the communes at the foot of the wall 0.0
Elisabeth Borne says the reactivation of nuclear power must secure "power supply needs" 0.4
In the United States, TikTok soon as watched every day as Netflix 0.0
Why Airbus really pinch for Evidian? 0.2
Apple invests an additional EUR 1 billion in Munich 0.0

In [ ]:
en_sentiment_analysis("finbert", google_translations)

China: jump in activity in services in February, according to Caixin [{'label': 'positive', 'score': 0.9981837868690491}]
Vega accident: CNES demands accountability from the European Space Agency [{'label': 'neutral', 'score': 0.9989081621170044}]
With an adjusted operating profit of 1.51 billion euros in 2022, “Lufthansa is back” [{'label': 'neutral', 'score': 0.99455726146698}]
The 5 business news to remember this Friday morning (Lufthansa, nuclear, Vega-C, agri-food, TikTok) [{'label': 'neutral', 'score': 0.9996834993362427}]
The State at the bedside of the agri-food industry with a support plan of 500 million euros [{'label': 'neutral', 'score': 0.9998201727867126}]
In Normandy, the advance of the sea places the municipalities at the foot of the wall [{'label': 'neutral', 'score': 0.9997209906578064}]
For Elisabeth Borne, the relaunch of nuclear power must secure "electricity supply needs" [{'label': 'neutral', 'score': 0.99903404712677}]
In the United States, TikTok will soon be as watched every day as Netflix [{'label': 'neutral', 'score': 0.9977335929870605}]
Why Airbus really has a crush on Evidian [{'label': 'neutral', 'score': 0.9997027516365051}]
Apple invests an additional billion euros in Munich [{'label': 'neutral', 'score': 0.9998117089271545}]

In [ ]:
en_sentiment_analysis("finbert", mymemory_translations)

China: services activity surges in February, according to Caixin [{'label': 'positive', 'score': 0.9997366070747375}]
Vega accident: CNES calls the European Space Agency to account [{'label': 'neutral', 'score': 0.9998089671134949}]
With adjusted operating income of €1.51 billion in 2022, “Lufthansa is back” [{'label': 'neutral', 'score': 0.6671832203865051}]
The 5 business infos to remember this Friday morning (Lufthansa, nuclear, Vega-C, agribusiness, TikTok) [{'label': 'neutral', 'score': 0.9996680021286011}]
The State at the bedside of the agri-food industry with a support plan of 500 million euros [{'label': 'neutral', 'score': 0.9998201727867126}]
In Normandy, the advance  of the sea places the communes at the foot of the wall [{'label': 'neutral', 'score': 0.9902423024177551}]
For Elisabeth Borne, the relaunch of nuclear power must secure “the needs of electricity supply” [{'label': 'neutral', 'score': 0.9997063279151917}]
In the US, TikTok will soon be as much watched every day as Netflix [{'label': 'neutral', 'score': 0.9976230263710022}]
Why Airbus really likes Evidian [{'label': 'neutral', 'score': 0.9996316432952881}]
Apple invests an additional €1 billion in Munich [{'label': 'neutral', 'score': 0.9998043179512024}]

In [ ]:
en_sentiment_analysis("finbert", happy_translations)

China: services activity jumped in February, according to Caixin [{'label': 'positive', 'score': 0.9998694658279419}]
Vega accident: CNES asks European Space Agency for accounts [{'label': 'neutral', 'score': 0.9998136162757874}]
With an adjusted operating result of 1,51 billion euros in 2022, "Lufthansa is back" [{'label': 'neutral', 'score': 0.9912795424461365}]
The 5 business info to remember this Friday morning (Lufthansa, nuclear, Vega-C, agri-food, TikTok) [{'label': 'neutral', 'score': 0.9997151494026184}]
The state at the bedside of the agri-food industry with a €500 million support plan [{'label': 'neutral', 'score': 0.9997451901435852}]
In Normandy, the advance of the sea places the communes at the foot of the wall [{'label': 'neutral', 'score': 0.9902423024177551}]
Elisabeth Borne says the reactivation of nuclear power must secure "power supply needs" [{'label': 'neutral', 'score': 0.9658473134040833}]
In the United States, TikTok soon as watched every day as Netflix [{'label': 'neutral', 'score': 0.9990100860595703}]
Why Airbus really pinch for Evidian? [{'label': 'neutral', 'score': 0.9995542168617249}]
Apple invests an additional EUR 1 billion in Munich [{'label': 'neutral', 'score': 0.9997993111610413}]

The English sentiment analysis doesn't work very well.
Hence, I'll use the French one to complete the project.

# Editing

In [ ]:
list(set(dataset["company_name"]))

['airbus', 'engie', 'sanofi', 'bnp_paribas', 'lvmh']

In [ ]:
def company_df(df, company_name):
  return df[df["company_name"] == company_name]

In [ ]:
def sentiment_analysis(df):
  sentiments = fr_sentiment_analysis(df["newsflashes"])
  df.insert(2, "sentiments", sentiments)
  return df

In [ ]:
def unique_sa(df):

  df_dates = list(df["dates"])
  dates_unique = np.unique(df_dates)
  
  df_groupby = df.groupby(df["dates"])
  
  dates = []
  sentiments = []
  for i in range (len(dates_unique)):
    dates.append(dates_unique[i])
    values = list(df_groupby.get_group(dates_unique[i])["sentiments"])
    positive = 0
    negative = 0
    for value in values:
      if value>0:
        positive += 1
      elif value<0:
        negative +=1
    if positive>negative:
      #print(np.float64(1))
      sentiments.append(np.float64(1))
    elif negative>=positive:
      #print(np.float64(-1))
      sentiments.append(np.float64(-1))
  
  return pd.DataFrame({"dates": dates, "sentiments": sentiments})

In [ ]:
def date_range(df):

  df_dates = list(df["dates"])
  
  start_date = datetime.strptime(df_dates[0], "%Y-%m-%d").date()
  end_date = datetime.strptime(df_dates[-1], "%Y-%m-%d").date()
  delta = timedelta(days = 1)
  dates = []
  while start_date <= end_date:
    dates.append(start_date.isoformat())
    start_date += delta

  return pd.DataFrame({"dates": dates})

In [ ]:
def str_to_date(df, format):
  #format: "%d/%m/%Y"
  for i in range (len(df["dates"])):
    df["dates"].iloc[i] = datetime.strptime(df["dates"].iloc[i], format).date()
  df.sort_values(by = "dates", ascending = True, inplace = True)
  df.reset_index(drop = True, inplace = True)
  return df

In [ ]:
def date_to_str(df, format):
  #format: "%Y-%m-%d"
  for i in range (len(df['dates'])):
    df['dates'].iloc[i] = df['dates'].iloc[i].strftime(format)
  return df

In [ ]:
def fill(df, days):
  df = df.fillna(method = "ffill", limit = days)
  return df.fillna(0)

In [ ]:
def main(company_name, days, optional_df = dataset):
  df = unique_sa(sentiment_analysis(company_df(dataset, company_name)))
  df = date_to_str(str_to_date(df, "%d/%m/%Y"), "%Y-%m-%d")
  date_df = date_range(df)
  merged_df = pd.merge(df, date_df, on = ["dates"], how = "outer")
  merged_df = date_to_str(str_to_date(merged_df, "%Y-%m-%d"), "%d/%m/%Y")
  merged_df = fill(merged_df, days)
  return merged_df

In [ ]:
engie_df = company_df(dataset, "engie")

In [ ]:
engie_df = sentiment_analysis(engie_df)

In [ ]:
engie_df = unique_sa(engie_df)

In [ ]:
engie_df = str_to_date(engie_df, "%d/%m/%Y")
engie_df = date_to_str(engie_df, "%Y-%m-%d")

/usr/local/lib/python3.9/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
engie_df

          dates  sentiments
0    2015-04-24         1.0
1    2015-05-05         1.0
2    2015-05-23         1.0
3    2015-05-28         1.0
4    2015-06-02         1.0
..          ...         ...
308  2023-02-20         1.0
309  2023-02-21         1.0
310  2023-02-22        -1.0
311  2023-02-23         1.0
312  2023-02-24        -1.0

[313 rows x 2 columns]

In [ ]:
date_df = date_range(engie_df)

In [ ]:
merged_df = pd.merge(engie_df, date_df, on = ["dates"], how = "outer")

In [ ]:
merged_df

           dates  sentiments
0     2015-04-24         1.0
1     2015-05-05         1.0
2     2015-05-23         1.0
3     2015-05-28         1.0
4     2015-06-02         1.0
...          ...         ...
2859  2023-02-04         NaN
2860  2023-02-05         NaN
2861  2023-02-06         NaN
2862  2023-02-08         NaN
2863  2023-02-10         NaN

[2864 rows x 2 columns]

In [ ]:
merged_df = date_to_str(str_to_date(merged_df, "%Y-%m-%d"), "%d/%m/%Y")

/usr/local/lib/python3.9/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
merged_df

           dates  sentiments
0     24/04/2015         1.0
1     25/04/2015         NaN
2     26/04/2015         NaN
3     27/04/2015         NaN
4     28/04/2015         NaN
...          ...         ...
2859  20/02/2023         1.0
2860  21/02/2023         1.0
2861  22/02/2023        -1.0
2862  23/02/2023         1.0
2863  24/02/2023        -1.0

[2864 rows x 2 columns]

In [ ]:
merged_df = fill(merged_df, 3)

In [ ]:
merged_df

           dates  sentiments
0     24/04/2015         1.0
1     25/04/2015         1.0
2     26/04/2015         1.0
3     27/04/2015         1.0
4     28/04/2015         0.0
...          ...         ...
2859  20/02/2023         1.0
2860  21/02/2023         1.0
2861  22/02/2023        -1.0
2862  23/02/2023         1.0
2863  24/02/2023        -1.0

[2864 rows x 2 columns]

In [ ]:
sanofi_df = main("sanofi", 3)

/usr/local/lib/python3.9/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
sanofi_df

           dates  sentiments
0     04/04/2006         1.0
1     05/04/2006         1.0
2     06/04/2006         1.0
3     07/04/2006         1.0
4     08/04/2006         0.0
...          ...         ...
6166  20/02/2023         1.0
6167  21/02/2023         1.0
6168  22/02/2023        -1.0
6169  23/02/2023         1.0
6170  24/02/2023         1.0

[6171 rows x 2 columns]